<%= stylesheet_link_tag 'event_css', :plugin => 'event_management' %>
<h2> イベント</h2>
<pre>
  <code class="rhtml">
  <%= render "table" %>
  <%= render "tableothers" %>
  <%= render "tablepast" %>
  </code>
</pre>
