<%# 常駐メニュー群..%>

<%#	<%= link_to "全SAKU", {:action => "clear_data_all", :project_id => @project } %>


<%# 新規作成.%>
<div class="contextual">
  <%= link_to_if_authorized(l(:label_event_add_new), 
                            {:controller => 'ctrl_event_add_new', :action => 'index', :project_id => @project}, 
                            :class => 'icon icon-add') %>
</div>
</br>
</br>
<%#===========================================.%>
<%# リスト本体.%>
<%#===========================================%>
<%# リストが空の場合はデータが存在しない旨を伝える%>
<% if (@now_project_events.blank? && @past_project_events.blank?) %>
  <p class="nodata"><%= l(:label_no_data) %></p>

<%# 存在する場合は一覧を表示する.%>
<% else %>

  <div id="event_list">
	<%= render "form" %>
  </div>
  
<% end %>

  
