
/* ===================== 回答画面 ======================= */

	/* イベントを回答していないやつの「未回答」表示 */
	strong.event_user_non_answer {
		color: #ff5555
	}
	
	/* イベントを回答してるやつの「回答」表示 */
	strong.event_user_answer {
		color: #5555ff
	}
	
	
	
/* ===================== TOP画面 ======================= */
/*	table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; } */
	table.list tr.not_answer { background-color:#ffd0d0; padding: 4px; white-space:nowrap; }
	table.list tr.odd td.answer { color: #5555ff; vertical-align: top; padding-right:10px; }
	table.list tr.not_answer td.not_answer { color: #ff5555; vertical-align: top; padding-right:10px; }

