  <%= fields_for answer do |f| %>
		<p>
		  <!-- 回答項目 -->
		  <%= f.text_field :answer_subject, :size => "10" %>
		  <%= link_to l(:label_deleted), 
			  {
				:project_id => @project,
				:now_delete_answer => answer.id,
				:remote => true,
				:action => "delete_answer"
			  },
			  {
				:confirm => "「"+answer.answer_subject + "」  " + l(:label_destroy_answer_question)
			  }
		  %>
		</p>
  <% end %>

