<h2><%=l(:label_event_update)%></h2>

<%= labelled_form_for( @event, {:url => {:action => "end_edit", :project_id => @project}, :html => {:multipart => true, :id => 'event-form' }}) do |f| %>
    <%= render "edit_form", :form => f %>
    <%= f.submit l(:button_create)  %>
<% end %>