<h2><%=l(:label_event_add_new)%></h2>

<%= labelled_form_for( @event, {:action => "add", :multipart => true, :id => 'event-form' }) do |f| %>
    <%= render "form", :form => f %>
    <%= f.submit l(:button_create), :action => "add" %>
<% end %>