<h2><%=l(:label_event_add_new)%></h2>

<%= labelled_form_for( @event, {:url => {:action => "add", :project_id => @project}, :html => {:multipart => true, :id => 'event-form' } }) do |f| %>
    <%= render "edit_form", :form => f %>
    <%= f.submit l(:button_create)  %>
<% end %>